traindata.csv
tf_mod_tr/model/model.ckpt.meta
tf_mod_tr/model/model.ckpt.data-00000-of-00001
tf_mod_tr/summary/events.out.tfevents.1539426816.icb-deep
result_simple_tf_densu2/model/model.ckpt.data-00000-of-00001
result_simple_tf_densu2/summary/events.out.tfevents.1539243083.icb-deep
test_non_scale/model/model.ckpt.data-00000-of-00001
tr_mod/model/model.ckpt.meta
tr_mod/model/model.ckpt.data-00000-of-00001
tr_mod/summary/events.out.tfevents.1539425518.icb-deep
tf_mod_tr_resnet/model/model.ckpt.meta
tf_mod_tr_resnet/model/model.ckpt.data-00000-of-00001
tf_mod_tr_resnet/summary/events.out.tfevents.1539506890.icb-deep
result_simple_tf/summary/events.out.tfevents.1539190548.icb-deep
tf_vat_tr_resnet2/summary/events.out.tfevents.1539578865.icb-deep
tf_vat/model/model.ckpt.meta
tf_vat/summary/events.out.tfevents.1539618185.icb-deep
traindata_int_random.csv
hoge/model/model.ckpt.meta
hoge/model/model.ckpt.data-00000-of-00001
hoge/summary/events.out.tfevents.1539419511.icb-deep
tf_vat_tr_resnet/model/model.ckpt.meta
tf_vat_tr_resnet/model/model.ckpt.data-00000-of-00001
tf_vat_tr_resnet/summary/events.out.tfevents.1539537353.icb-deep
test/model/model.ckpt.meta
test/summary/events.out.tfevents.1539656139.icb-deep
result_vat_2/model/model.ckpt.meta
result_vat_2/summary/events.out.tfevents.1539673912.icb-deep
traindata_int.csv
result_vat_1/model/model.ckpt.meta
result_vat_1/summary/events.out.tfevents.1539657523.icb-deep
test_image.npy
test_scale/model/model.ckpt.data-00000-of-00001
result_simple_tf_densu3/model/model.ckpt.data-00000-of-00001
result_simple_tf_densu3/summary/events.out.tfevents.1539271581.icb-deep
